import 'relative/path/to/stylesheet.scss';

body {
    margin-top: 50px;
}

.card {
    display: flex;
    margin: auto;
    text-align: center;
}

    

.container {
    background-color: rgb(213, 214, 214)
}
img {
    height: 250px;
    width: 250px;
}